<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Opção</title>
    {% load static %}
    <link rel="stylesheet" , href="{% static 'css/main.css' %}">
    <h1>
        Criar Opção
        <br>
    </h1>
</head>
<body>
    {% if request.user.is_authenticated and request.user.is_superuser%}
        <form action="{% url 'votacao:createoption' questao.id %}" method="post">
            {% csrf_token %}
            <label> Opção: </label>
            <input type="text" id="opname" name="opname">
            <input type="submit" value="Criar Opção"/>
        </form>
    {% else %}
            <p> Não tem permissões para criar uma opção </p>
    {% endif %}
</body>
</html>