
<header>
    <title>
        Votação
    </title>
    {% load static %}
    <link rel="stylesheet" , href="{% static 'css/main.css' %}">
</header>

{% if request.user.is_authenticated %}
    <section>
        <aside >
            <h1>
                <a href="{% url 'votacao:userdetails' %}">{{request.user.username}}</a>
                {% if not request.user.is_superuser %}
                <br> nº de votos = {{request.user.aluno.votos}}
                {% endif %}
            </h1>

            <form action="{% url 'votacao:logoutview'%}" method="post">
                {% csrf_token %}
                <button type="submit" value="logout">
                    Log Out
                </button>
            </form>
            </aside>
    </section>

    <h1>
        Questões para votar
    </h1>
    {% if latest_question_list %}
    <ul>
     {% for questao in latest_question_list %}
        <li>
        <a href= "{% url 'votacao:detalhe' questao.id %}">
            {{ questao.questao_texto }}
        </a>
        </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if request.user.is_superuser%}
    <form action="{% url 'votacao:createquestion'%}" method="post">
        {% csrf_token %}
        <button type="submit" value="Criar nova Questão">
            Criar nova Questão
        </button>
    </form><br><br>
    {% endif %}

    {% else %}
    <h1>Questões para votar</h1>
    <p>Nao ha questões disponiveis, necessita realizar login.</p>
    <form action="{% url 'votacao:userlogin'%}">
    {% csrf_token %}
    <button type="submit" value="Log In">
        Log In
    </button>
    </form><br><br>
{% endif %}



