<header>
    <title>
        Votação
    </title>

</header>

{% if request.user.is_authenticated %}
 <section style="text-align:right;">
        <h1>
            <a href="{% url 'votacao:userdetails' %}">{{request.user.username}}</a>
            {{request.user.aluno.votos}}
        </h1>


        <form action="{% url 'votacao:logoutview'%}" method="post">
            {% csrf_token %}
            <button type="submit" value="logout">
                Log Out
            </button>
        </form>
    </section>

    <h1>
        Questões para votar
    </h1>
{% if latest_question_list %}
<ul>
 {% for questao in latest_question_list %}
    <li>
    <a href= "{% url 'votacao:detalhe' questao.id %}">
        {{ questao.questao_texto }}
    </a>
    </li>
    {% endfor %}
    </ul>

<form action="{% url 'votacao:createquestion'%}" method="post">
    {% csrf_token %}
    <button type="submit" value="Criar nova Questão">
        Criar nova Questão
    </button>
</form><br><br>

{% endif %}
{% else %}
    <h1>Questões para votar</h1>
    <p>Nao ha questoes disponiveis, necessita realizar login.</p>
    <form action="{% url 'votacao:userlogin'%}">
    {% csrf_token %}
    <button type="submit" value="Log In">
        Log In
    </button>
    </form><br><br>
{% endif %}

