<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    {% extends "votacao/index.html" %}
    {% load static %}
    <link rel="stylesheet" , href="{% static 'votacao/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    {% block title %}
        <h1> Informação Pessoal </h1>
    {% endblock %}

    <section id="detailsimage">
    {% block content %}
    {% if request.user.aluno.imagem %}
    <img alt="Imagem de Perfil" class="detailimage" src="/static/media/{{request.user.aluno.imagem}}" ><br>
    {% else %}
    <img alt="Imagem de Perfil" class="detailimage" src="{% static 'media/default_image.png' %}"><br>
    {% endif %}
    </section>

    {% if request.user.aluno %}
    <form action="{% url 'votacao:fazer_upload' %}" method="post" id="alterar" >
        {% csrf_token %}
        <button type="submit" value="Alterar Imagem">
            Alterar Imagem
        </button>
    </form><br><br>
    {% endif %}

    <section id="details">
    <h2> Username <p>{{request.user.username}}</p> </h2>
    <h2> Email <p>{{request.user.email}}</p> </h2>
    {% if not request.user.is_superuser %}
    <h2> Curso <p>{{request.user.aluno.curso}}</p> </h2>
    <h2> Grupo <p>{{request.user.aluno.grupo}}</p> </h2>
    {% endif %}
    </section>
    <script>
      $(document).ready(function() {
        $("#details").hide();
        $(".detailimage").hover(function() {
        $("#details").show();
        }, function() {
        $("#details").hide();
        });
        });
    </script>
    {% endblock %}

</body>
</html>