<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    {% extends "votacao/index.html" %}
    {% load static %}
    <link rel="stylesheet" , href="{% static 'votacao/css/main.css' %}">
</head>
<body>
    {% block title %}
        <h1> Informação Pessoal </h1>
    {% endblock %}

    {% block content %}
    <h2> Username <p>{{request.user.username}}</p> </h2>
    <h2> Email <p>{{request.user.email}}</p> </h2>
    {% if not request.user.is_superuser %}
    <h2> Curso <p>{{request.user.aluno.curso}}</p> </h2>
    <h2> Grupo <p>{{request.user.aluno.grupo}}</p> </h2>
    {% endif %}

    {% if request.user.aluno.imagem %}
    <img class="detailimage" src="/static/media/{{request.user.aluno.imagem}}"><br>
    {% else %}
    <img class="detailimage" src="{% static 'media/default_image.png' %}"><br>
    {% endif %}

    {% if request.user.aluno %}
    <form action="{% url 'votacao:fazer_upload' %}" method="post">
        {% csrf_token %}
        <button type="submit" value="Alterar Imagem">
            Alterar Imagem
        </button>
    </form><br><br>
    {% endif %}
    {% endblock %}
</body>
</html>