<header>
    {% load static %}
    <link rel="stylesheet" , href="{% static 'css/main.css' %}">
</header>

{% if request.user.is_authenticated %}
 <section>
        <aside >
            <h1>
                <a href="{% url 'votacao:userdetails' %}">{{request.user.username}}</a>
                {% if not request.user.is_superuser %}
                <br> nº de votos = {{request.user.aluno.votos}}
                {% endif %}
            </h1>

            <form action="{% url 'votacao:logoutview'%}" method="post">
                {% csrf_token %}
                <button type="submit" value="logout">
                    Log Out
                </button>
            </form>
            </aside>
    </section>
{% endif %}


<h1>{{ questao.questao_texto }}</h1>
{% if request.user.is_authenticated %}
    <ul>
    {% for opcao in questao.opcao_set.all %}
      <li>
        {{ opcao.opcao_texto }} --
        {{ opcao.votos }}
        voto{{ opcao.votos|pluralize }}
      </li>
    {% endfor %}
    </ul>
  <a href="{% url 'votacao:detalhe' questao.id %}">Votar novamente?</a><br><br>
  <a href="{% url 'votacao:index' %}">Página Inicial</a>
{% else %}
  <p>Não tem permissões para ver os votos desta questão</p>
{% endif %}